@layer base {
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd) {
  margin: 0;
}

:where(button, input, textarea, select) {
  font: inherit;
}

:where(img, picture, video, canvas, svg) {
  display: block;
  max-width: 100%;
}
}
